body {
    font-family:'Product Sans';
}

#grande {
    font-family: 'Product Sans';
    font-weight: 350;
    text-align: center;
    font-size: 45px;
    color: #ffffff;
}

#pequeno {
    font-family: 'Product Sans';
    font-weight: 400;
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    color: #ffffff;
}

.titulo {
    padding-top: 120px;
}

#cabeçalho {
    background-color: #4285f4;
    padding-bottom: 78px;
}

#dorestexto {
    font-family:'Product Sans';
    font-size: 25px;
    font-weight: 100;
    align-content: center;
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
    font-weight: 500;
}

.botao-1 {
    font-weight: 400 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: #4285f4 !important;
    font-family: 'Product Sans' ;
}

.espacamento-1 {
    padding-top: 25px;
    padding-bottom: 40px;
    font-family: 'Product Sans';
    font-size: 30px;
    font-weight: 500;
}

#titulorotina {
    text-align: center;
    padding-top: 55px;
    font-family:'Product Sans';
    font-weight: 600;
    font-size: 40px;
}

#titulo3 {
    padding-left: 60px;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    font-family: 'Product Sans';
}


#fraseefeito {
    font-size: 45px;
    text-align: center;
    padding-top: 100x;
    font-family: 'product sans';
    font-weight: bold; 
    margin-top: 100px;
    padding-bottom: 20px;
}


#podercomando {
    text-align: center;
    font-family:'Product Sans';
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
}

#comando {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    font-weight: 500;
    font-family:'Product Sans';
    color: #ffffff;
}

#partecolorida {
    background-color: #4285f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    color: #ffffff;
}

#partebranca {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4285f4;
}

#video {
    width: 95%;
    border-radius: 10px;
}

#accordionExample {
    font-family:'Product Sans' ;
    font-weight: bolder; 
}

#carrossel {
    width: 850px;
    padding-bottom: 100px;
    padding-top: 50px;
}



#titulo3 {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.roboto{
    font-family: 'Product Sans' !important;
    font-weight: 400 !important; 
}

#aprendaausar {
    font-family: 'Product Sans';
    text-align: center;
    font-size: 25px;
}

.espacamento-3 {
    padding-bottom: 150px;
    padding-top: 25px;
    
}
.botao-3 {
    font-weight: bolder !important;
    background-color: #4285f4 !important;
    border-color: #4285f4 !important;
    color: #ffffff !important;
    font-family:  'Product Sans';
}

.espacamento-2 {
    padding-top: 23px
} 


 

#sessao-4 {
    background-color: #4285f4;
}

#footerrr{
    background-color: #fafafa;
    padding: 20px;
    font-family: 'product sans';
    color: #727273 !important;
}

#requisitos {
    padding-top: 20px;
    color: #5f6368;
    font-size: small;
    font-family: 'product sans';
}

#containerfuid
{
    font-family: 'product sans' !important;

}

#depoimento {
text-align: center;
font-size: 35px;
font-weight: bolder;
color: #ffffff;
font-family:'Product Sans' ;
padding-top: 50px;
}

#ultimobotao {
    background-color: #fff;
    color: #4285f4;
    font-family:font-family: 'Product Sans';
}

#google {
    color: #727273 !important;
    font-weight: 800;
}

.foote {
    font-weight: 300 !important ;
}

#range-container {
    height: 600px;
    margin-top: 40px;
}

#home 
{
    color: #575757;
}

#botaoo
{
    font-family: 'product sans ';
}

#range-result {
    font-size: 6em;
    text-align: center;
    font-family: 'product sans';
}

#videodepoimento {
    width: 800px;
    padding-top: 40px;
    display: block;
    margin: 0%auto;
    
    
    } 

#sessao-4 {
    padding-bottom: 80px;

}


[class*="g-font"] {
    font-family:'Product Sans';
}